<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948486446960-a4i439nvgi8sq3uu4h14dru6df19h95a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948486446960-a4i439nvgi8sq3uu4h14dru6df19h95a</string>
	<key>API_KEY</key>
	<string>AIzaSyBayX37iZwp-TU6R72UZKAM7UrbIrQUm9g</string>
	<key>GCM_SENDER_ID</key>
	<string>948486446960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.cus.app</string>
	<key>PROJECT_ID</key>
	<string>cambridge-union-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cambridge-union-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948486446960:ios:9d98a252d203f15d3c39b5</string>
	<key>DATABASE_URL</key>
	<string>https://cambridge-union-app.firebaseio.com</string>
</dict>
</plist>