<ion-header>
  <ion-toolbar>
    <ion-title>
      The Union
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <!--<ion-card [routerLink]="['/', 'tabs', 'tab4', 'committee']" routerDirection="forward">-->
    <ion-card href="https://cus.org/members/running-your-union/whos-who">
      <!--<img src="./assets/testcard.jpg" />-->
      <ion-item lines="none">
        <ion-icon name="people" slot="start"></ion-icon>
        <ion-card-header>
          <ion-card-title>Committee</ion-card-title>
          <!--<ion-card-subtitle>Coming soon!</ion-card-subtitle>-->
        </ion-card-header>
      </ion-item>
      <ion-card-content>
        Details on the committee positions within the Union and current position holders.
      </ion-card-content>
    </ion-card>

    <ion-card [routerLink]="['/', 'tabs', 'tab4', 'discounts']" routerDirection="forward">
      <!--<img src="./assets/testcard.jpg" />-->
      <ion-item lines="none">
        <ion-icon name="pricetags" slot="start"></ion-icon>
        <ion-card-header>
          <ion-card-title>Discounts</ion-card-title>
          <!--<ion-card-subtitle>Coming soon!</ion-card-subtitle>-->
        </ion-card-header>
      </ion-item>
      <ion-card-content>
        Find out what discounts you are entitled to as a member of the Union.
      </ion-card-content>
    </ion-card>

    <ion-card [routerLink]="['/', 'tabs', 'tab4', 'get-involved']" routerDirection="forward">
      <!--<img src="./assets/testcard.jpg" />-->
      <ion-item lines="none">
        <ion-icon name="person-add" slot="start"></ion-icon>
        <ion-card-header>
          <ion-card-title>Get Involved</ion-card-title>
          <!--<ion-card-subtitle>Coming soon!</ion-card-subtitle>-->
        </ion-card-header>
      </ion-item>
      <ion-card-content>
        Find out how to audition to speak or interview at the Union, or apply for a committee position.
      </ion-card-content>
    </ion-card>

    <!--<ion-card [routerLink]="['/', 'tabs', 'tab4', 'discounts']" routerDirection="forward">-->
    <ion-card>
      <!--<img src="./assets/testcard.jpg" />-->
      <ion-item lines="none">
        <ion-icon name="paper" slot="start"></ion-icon>
        <ion-card-header>
          <ion-card-title>News</ion-card-title>
          <ion-card-subtitle>Coming soon!</ion-card-subtitle>
        </ion-card-header>
      </ion-item>
      <ion-card-content>
        Get the latest updates on events on the Union, the refurbishment of the Union buildings and more.
      </ion-card-content>
    </ion-card>

  </ion-list>

</ion-content>