<ion-header>
  <ion-toolbar>
    <ion-title>Starred Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list #mylist>
 
    <ion-list-header>
      <ion-label>My Items</ion-label>
    </ion-list-header>
 
    <ion-item-sliding *ngFor="let item of items">
 
      <ion-item>
        <ion-label text-wrap>
          <h3>{{ item.id }}</h3>
          <ion-text color="secondary">
            <p>{{ item.id }}</p>
          </ion-text>
          <p>{{ item.modified | date:'short'}}</p>
        </ion-label>
      </ion-item>
 
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteItem(item)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
 
  </ion-list>
</ion-content>