<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>Get Involved</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text text-wrap>
    <pre>
    Getting Involved

    Stewarding 
    
    One of the best ways to get involved with the Union is stewarding our events. Stewards wear a fetching neon jacket, get the best seats in the house, a £5 bar tab and a free grilled sandwich per event stewarded. So what are you waiting for? Join ‘Cambridge Union Society Stewards’ on Facebook or reach out to christian.owen@cus.org for more details.
    
    AV Stewarding
    
    Much like regular stewarding, AV stewarding is a fantastic opportunity to get involved with the Society. AV Stewards are trained to work the cameras and microphones during events for our livestream and Youtube. Not only do you get the same £5 bar tab and grilled sandwich as the regular stewards, you also get to learn valuable skills. Join ‘Cambridge Union AV Stewards’ or email audiovisual@cus.org for more details.
    
    Participating in Debates
    
    Our weekly debates also offer our members a chance to speak alongside and debate with these figures themselves. Every Saturday we host open auditions for one or two of the six spaces in the following week’s debate - sign up and come along! The specific slots and debates open for audition are subject to change - check emails and Facebook to stay up to date. New debaters are encouraged to apply. Additionally, two floor speeches per week are awarded a prize with a value of approximately £150, so we encourage everyone to join the discussion.
    
    Being Appointed
    
    At the end of each term, the incoming team of officers interviews people for a variety of positions on Full Committee, all of which are advertised via email, and in the Union’s Facebook Group. There are roles for anyone and everyone, regardless of experience, so do keep an eye out for the end of Michaelmas which is when the Lent team will start recruiting. Union experience is not required to apply for these roles.
    
    Running for Election
    
    Each term elections are held for the position of President, Executive Officer, Speakers Officer, Treasure and Social Ents Officer. To run for election, one must satisfy a few criteria that can be found in the Union’s constitution on our website. Most of these involve supporting the Union’s competitive debating programme in a variety of ways. Running for President requires that one has previously been head of a department at the union. 
    
    Competitive Debating
    
    One of the most exciting things Union membership has to offer is the chance to get involved in competitive debating. Debating can change lives in the most wonderful ways – the skills you learn will be useful in countless situations, from essay writing to interviews. Debating at Cambridge can also bring you opportunities to travel the world at a substantial discount, and, we believe, to make friendships that will last a lifetime.
    
    Now is an amazing time to get involved with the debating society! We’ve had consistent success at the world’s biggest competitions over the last few years. Most recently, we won the European University Debating Championships in Athens this summer, with our top two teams both performing absolutely exceptionally! If you begin debating, you’ll have many opportunities to learn from and to speak with these debaters, and to improve your own skills.
    
    How do I get involved?
    We have a new freshers’ programme launching this term! To meet us and sign up for our workshops, please come along to some or all of these events:
    1)	Debating launch! 9th October, 19:30-21.00. Come meet the society, watch a light-hearted show debate from our top debaters, and share some drinks afterwards. 
    2)	Beginners’ introduction session – for novices only! 12th October, 18:00-21:00. This is for people who have very limited experience debating. We will teach you the basic principles of debating, a few features of the British Parliamentary format, and we will make sure anybody who wants to will have an opportunity to try out speaking for themselves. In this way, everybody can get some experience debating before the streaming session for squads!
    3)	Squad allocation! 14th October, 18:00-21:00. An evening of debating to show off your skills! Everybody will get the opportunity to speak, after which we’ll separate into workshop groups based on ability level for the rest of the term.
    4)	Weekly workshops! Groups of a similar ability will be grouped together to work together all term. Each group will beallocated one of the Union’s most experienced debaters as their trainer! 
    
    Please note that there is no requirement to come to all of these events to join a workshop group for this term! We’ll post a sign-up form online as well. 
    
    More dates for your diary
    
    13/10/19 - Imperial Novices Competition – the first chance to compete against other universities!
    
    17/10/19 – evening - Varsity debate – come and cheer on Cambridge against Oxford’s top debaters!
    
    26/10/19 - World Universities Debating Championship trials – sign ups will be posted online a week or so before
    
    05/11/19 - Women’s Pro-Ams and Prosecco evening – come along for free drinks and some friendly debates, pairing novices with experienced debaters
    
    8-9/11/19 and 10/11/19 - Oxford IV– the biggest UK tournament, held across two days! Followed by the Oxford Women’s Open the next day
    
    15-16/11/19 and 17/11/19 - Cambridge IV and Cambridge Women’s Open – we will be asking for help judging and providing places for visiting debaters to sleep. A chance to earn contribution points (which are needed to attend competitions and travel for the Union after your first term - but don’t worry about that for now!) 
    
    02/12/19 (evening) - End of term Pro-Am tournament – have fun, win some glory
    
    04/12/19 - Bridgemas social
    
    And many more other tournaments – details will go up on the Facebook group nearer the time!
    
    Find out more
    Please feel free to get in touch with us either in person, over Facebook, or through emailing us at debating@cus.org! We’re always happy to answer any questions you might have – and we can’t wait to meet you all soon!
    
    Alex Murray and Achilleas Papadimitriou, Debating Officers 2019-20
    
  </pre>
  </ion-text>
</ion-content>