<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>Member Discounts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header padding>
      <ion-label>
          As a member of the Union, you can take advantage of the following discounts:
      </ion-label>
    </ion-list-header>

    <ion-item *ngFor="let discount of discounts">
      <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label text-wrap>
        <h3>{{ discount.title }}</h3>
        <p>{{ discount.subtitle }}</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
