<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>Union Committee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<iframe src="https://cus.org/members/running-your-union/whos-who"></iframe>-->

  <ion-list>
    <ion-list-header padding mode="md">
      <ion-label>
        <h1>Standing Committee - Officers</h1><br>
        <h3>The Standing Committee (or 'Voting Members') is the Union's primary managerial body of 13 members, which
          consists of the current President, the Vice President, and Officers, the President-elect, Officers-elect, and
          the Debating Officers. All Officers of the Union are elected by its membership on a termly basis, with the
          exception of the Vice President and two Debating Officers, who are appointed to serve on an annual basis.</h3>

      </ion-label>
    </ion-list-header>

    <ion-card>
      <img src="https://cus.org/sites/default/files/news/IMG_3546.jpg" />
      <ion-card-header>
        <ion-row justify-content-between>
          <ion-col size="10">
            <ion-card-title>President:<br>Rachel Tustin</ion-card-title>
            <ion-row style="height: 5px"></ion-row>
            <ion-card-subtitle>Peterhouse College</ion-card-subtitle>
          </ion-col>
          <ion-col size="2">
            <ion-button href="mailto:president@cus.org">
            <ion-icon name="mail"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        The President is elected by the membership and the President oversees everything that goes on during their term,
        including managing their team of Officers, and working alongside them to plan the Termcard. They chair during
        Thursday night debates and have ultimate authority over the Society. They also chair both Full and Standing
        Committee meetings which are held on a weekly basis, and have final say over the most important decisions facing
        the Society. </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>