<ion-header>
  <ion-toolbar>
    <ion-item routerLink="" lines="none" slot="start" routerDirection="back" detail="false">
      <ion-icon color="medium" name="arrow-back"></ion-icon>
    </ion-item>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Notifications</ion-label>
      <ion-toggle [(ngModel)]="global_notifs" (ionChange)="settingsChanged($event)"></ion-toggle>
    </ion-item>
    <!--<ion-item>
      <ion-label>Get notifications for:</ion-label>
      <ion-select disabled="{{ globalDisabled }}" [(ngModel)]="level_notifs" (ionChange)="settingsChanged($event)" value="starred">
        <ion-select-option value="starred">Starred events only</ion-select-option>
        <ion-select-option value="all">All events</ion-select-option>
      </ion-select>
    </ion-item>-->
  </ion-list>
</ion-content>